<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>GMSAPIKey</key>
	<string>AIzaSyCH0TM-i6VSaYT4PbH43dOYNYrDuC4OwRo</string>
</dict>
</plist>
